<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftResponsiveLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4ECBA0071C8434EA00884FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ECBA01B1C8434EA00884FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ECBA0261C8434EA00884FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
